
h1{
    /*column-count: 3;*/
    text-align: center;
    margin:0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: 	#383838;
    background-color: #FFFFFF;
    /*text-align: center;*/
    font-family: Times New Roman;
    /*font-style: ;*/
    font-size: 40px;

}

/*div.myRefs> * {*/
/*    flex: 1  0;*/
/*}*/

h3.c2{
    /*color: #4A5357;*/
    color: #545D61;
    /*color: #5E676B;*/
}

div.myRefs> * {
    flex: 1 1 auto;
}

/*div.flex-container{*/
/*    */
/*}*/


head{
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
    background-color:#FAFAFA;
    color: 	#383838;
    overflow-y:scroll;
    /*scrollbar-color: #383838 #6D6D6D;*/
}

h2{
    color: 	#383838;
}

div{
    margin:0;
    padding:0;}
p.myName{
    font-size: 45px;
    }
p.centerVert{
    padding-top: 15px;
}
a.pages{
    text-decoration: none;
    color: #6D6D6D;
}

a:link {
    color: #383838;
}

/* mouse over link */
a:hover {
    color:  #6D6D6D;
}

a:visited {
    color: #383838;
}

a:hover {
    color: #6D6D6D;
}

/* selected link */


a.pages:hover{
    color: #000000;

}
div.myRefs {
    display: flex;
    color: 	#383838;
    /*column-count: 3;*/
    text-align: center;
    box-shadow: 0 4px 10px -10px gray;
    /*background-color: #f1f1f1;*/
    padding-bottom: 10px;
    width:100%;
    column-rule: 1px solid lightgrey;
    background-color: #FFFFFF;
}
h3{
    color: 	#383838;
}
.myGrey{
    color: 	#6D6D6D;
}
img.me{
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 50%;
    max-width:200px;
    margin-left:225px;
    margin-right:auto;
    width: 50%;
}
div.center{
    /*height: 200px;*/
    margin-left:auto;
    margin-right:auto;
    width: 650px;
    /*background-color: blue;*/
    /*text-align: center;*/
}
div.center2{
    /*height: 200px;*/
    margin-left:auto;
    margin-right:auto;
    width: 800px;
    /*background-color: blue;*/
    /*text-align: center;*/
}
div.dropShadow{
    position: relative;
    /*box-shadow: 0 15px 15px -10px white;*/
    box-shadow: 0 8px 10px -10px white;
    height: 25px;
    z-index: 2;

}



hr{
    height: 1px;
    color: LightGray;
    background-color: LightGray;
    border: none;
}

g.fence{
    color: #000000;
}
g.mando{
    color: #000000;
}
g.jewel{
    color: #000000;
}
g.sculpt{
    color: #000000;
}

/*g.fence:hover{*/
/*    color: #6D6D6D;*/
/*}*/
/*g.mando:hover{*/
/*    color:#6D6D6D;*/
/*}*/
/*g.jewel:hover{*/
/*    color: #6D6D6D;*/
/*}*/
/*g.sculpt:hover{*/
/*    color: #6D6D6D;*/
/*}*/
.no-padding{
    margin: 0;
    padding: 0;
}

.smallfont{
    font-size: 17px;
    font-family: Times New Roman
}
div.show{
    position: relative;
    background-color: #3090C7;
    height: 0px;
    z-index: 1;

}

div.actImg{
    display: flex;

}


div.actImg> * {
    flex: 1 1 auto;
}

div.ProjFlex{
    display: flex;
}

div.ProjFlex:first-child{
    flex: 1 1 auto;


}
div.ProjFlex>*{
    flex: 1 2 auto;
}

p.year{
    color: #3090C7;

}
p.place{}
p.title{}
p.disc{}